img {
    height: 200px;
    width: 300px;
    border-radius: 25px;
}

.cardDiv {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 350px;
    border-radius: 30px;
    padding: 30px;
}

button {
    width: 70px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(2, 2, 151);
    color: #fff;
}